@import url(reset.css);
@font-face {
  font-family: "CircularBook";
  src: url("fonts/CircularStd-Book.eot");
  src: url("fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-Book.woff") format("woff"), url("fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "CircularBlack";
  src: url("fonts/CircularStd-Black.eot");
  src: url("fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-Black.woff") format("woff"), url("fonts/CircularStd-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: bold; }
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700,900');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* a {
  cursor: pointer;
  text-decoration: none;
  color: #fff; }

* i {
  font-style: italic; }

h1, h2, h3, h4, h5, h6, b {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}
.subt_project{
  font-family: "CircularBlack", sans-serif !important;
  font-weight: bold !important;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 300px;
  font-size: 16px;
  font-family: "CircularBook", sans-serif;
  font-weight: 400;
  color: #fff;
  background: #000;
  overflow-x: hidden;
  letter-spacing: 1px;
  /* Navegadores */
  /* About This Project */
  /* Showreel */
  /* Loading */
  /* popPhone */
  /* popPhone */
  /* popPhone */ }
  body nav {
    position: fixed;
    z-index: 4500; }
  body #mobileinner {
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 0;
    background: #000;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out; }
    body #mobileinner div {
      position: absolute;
      top: 10%;
      width: 100vw;
      height: 60%;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      -o-justify-content: space-around;
      justify-content: space-around; }
      body #mobileinner div a {
        position: relative;
        color: #fff;
        font-size: 1.7rem;
        display: inline-block; }
        body #mobileinner div a p {
          position: relative;
          padding: 5px 0; }
          body #mobileinner div a p i {
            position: relative; }
          body #mobileinner div a p i::after, body #mobileinner div a p i::before {
            content: "Close";
            position: absolute;
            opacity: 0.4;
            z-index: -2;
            -webkit-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
            -moz-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
            -ms-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
            -o-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
            animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -ms-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out; }
          body #mobileinner div a p i::after {
            color: #37e6ef;
            left: -4px;
            top: -2px; }
          body #mobileinner div a p i::before {
            color: #e337fc;
            left: 3px;
            top: 0px; }
          body #mobileinner div a p span {
            display: block;
            width: 100%;
            height: 2px;
            background: #fff;
            margin: 5px 0; }
  body #desktopinnner {
    padding: 0 0 30px 10px; /* fix menu */
    right: -18vw;
    top: 67px;
    width: auto;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out; }
    body #desktopinnner a {
      color: #fff;
      display: inline-block;
      padding: 5px 0; }
    body #desktopinnner a:hover span {
      width: 100%; }
    body #desktopinnner span {
      display: block;
      width: 0%;
      height: 1px;
      background: #fff;
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
  body nav#back {
    display: none;
    top: 90px;
    right: 0;
    width: 80px;
    height: calc(100vh - 180px); }
    body nav#back div {
      display: block;
      position: absolute;
      top: calc(50% - 195px);
      left: calc(50% - 10px);
      width: 20px;
      height: 120px;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
      body nav#back div span {
        display: block;
        position: absolute;
        left: calc(50% - 1px);
        width: 2px;
        background: #fff;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out; }
    body nav#back a {
      color: #fff;
      display: block;
      position: absolute;
      top: calc(50% - 65px);
      left: calc(50% - 15px);
      height: 130px;
      width: 30px;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
      body nav#back a span {
        display: block;
        position: absolute;
        left: 30px;
        width: 130px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 1.125rem;
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg); }
  body nav#top {
    top: 0; }
  body nav#bottom {
    bottom: 0; }
  body nav#bottom, body nav#top {
    width: 100vw;
    min-width: 300px;
    height: 90px;
    left: 0;
    padding: 0 2vw
  }
    body nav#bottom ul, body nav#top ul {
      width: 100%;
      height: 100%;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      -o-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center; }
      body nav#bottom ul li, body nav#top ul li {
        text-align: center;
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-transition: opacity 0.5s ease-out;
        -moz-transition: opacity 0.5s ease-out;
        -ms-transition: opacity 0.5s ease-out;
        -o-transition: opacity 0.5s ease-out;
        transition: opacity 0.5s ease-out; }
        body nav#bottom ul li a.aboutLi, body nav#top ul li a.aboutLi {
          position: relative;
          text-align: center;
          display: inline-block;
          width: 100px; }
        body nav#bottom ul li a.aboutLi::before, body nav#bottom ul li a.aboutLi::after, body nav#top ul li a.aboutLi::before, body nav#top ul li a.aboutLi::after {
          text-align: center;
          width: 100px;
          display: inline-block;
          position: absolute;
          content: "About this project";
          opacity: 0;
          z-index: -2;
          -webkit-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
          -moz-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
          -ms-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
          -o-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
          animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
          -webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -ms-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out; }
        body nav#bottom ul li a.aboutLi:hover::before, body nav#bottom ul li a.aboutLi:hover::after, body nav#top ul li a.aboutLi:hover::before, body nav#top ul li a.aboutLi:hover::after {
          opacity: 0.4; }
        body nav#bottom ul li a.aboutLi::after, body nav#top ul li a.aboutLi::after {
          top: 0;
          left: -2px;
          color: #e337fc; }
        body nav#bottom ul li a.aboutLi::before, body nav#top ul li a.aboutLi::before {
          top: 0;
          left: 2px;
          color: #37e6ef; }
        body nav#bottom ul li a.closeLi::before, body nav#bottom ul li a.closeLi::after, body nav#top ul li a.closeLi::before, body nav#top ul li a.closeLi::after {
          position: absolute;
          content: "Close";
          opacity: 0.4;
          z-index: -2;
          -webkit-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
          -moz-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
          -ms-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
          -o-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
          animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
          -webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -ms-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out; }
        body nav#bottom ul li a.closeLi::before, body nav#top ul li a.closeLi::before {
          top: -2px;
          left: 4px;
          color: #37e6ef; }
        body nav#bottom ul li a.closeLi::after, body nav#top ul li a.closeLi::after {
          top: 3px;
          left: 5px;
          color: #e337fc; }
      body nav#top ul li a img {
        display: block;
        width: 80px;
        height: 80px;
      }

      body nav#bottom ul li::before, body nav#bottom ul li::after, body nav#top ul li::before, body nav#top ul li::after {
        position: absolute;
        top: -2px;
        left: -2px;
        opacity: 0;
        z-index: -2;
        -webkit-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
        -moz-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
        -ms-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
        -o-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
        animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
        -webkit-transition: opacity 0.5s ease-out;
        -moz-transition: opacity 0.5s ease-out;
        -ms-transition: opacity 0.5s ease-out;
        -o-transition: opacity 0.5s ease-out;
        transition: opacity 0.5s ease-out; }
      body nav#bottom ul li::before, body nav#top ul li::before {
        color: #e337fc; }
      body nav#bottom ul li::after, body nav#top ul li::after {
        color: #37e6ef;
        top: 2px;
        left: 5px; }
      body nav#bottom ul li:hover::before, body nav#bottom ul li:hover::after, body nav#top ul li:hover::before, body nav#top ul li:hover::after {
        opacity: 0.4; }
      body nav#bottom ul li.menuLi::before, body nav#bottom ul li.menuLi::after, body nav#top ul li.menuLi::before, body nav#top ul li.menuLi::after {
        content: "Menu"; }
      body nav#bottom ul li.contactLi::before, body nav#bottom ul li.contactLi::after, body nav#top ul li.contactLi::before, body nav#top ul li.contactLi::after {
        content: "Estudio"; }
  body #abouthis {
    position: fixed;
    width: 100vw;
    height: 120vh;
    left: 0;
    top: 0;
    z-index: 7000;
    overflow-y: scroll;
    text-align: center;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out; }
    body #abouthis .close {
      position: relative;
      display: inline-block;
      margin: 40px auto 20px auto;
      opacity: 0;
      -webkit-transition: opacity 0.5s ease-out;
      -moz-transition: opacity 0.5s ease-out;
      -ms-transition: opacity 0.5s ease-out;
      -o-transition: opacity 0.5s ease-out;
      transition: opacity 0.5s ease-out; }
    body #abouthis .close::after, body #abouthis .close::before {
      position: absolute;
      content: "Close";
      opacity: 0.3;
      z-index: -2;
      -webkit-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
      -moz-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
      -ms-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
      -o-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
      animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
      -webkit-transition: opacity 0.5s ease-out;
      -moz-transition: opacity 0.5s ease-out;
      -ms-transition: opacity 0.5s ease-out;
      -o-transition: opacity 0.5s ease-out;
      transition: opacity 0.5s ease-out; }
    body #abouthis .close::after {
      top: 3px;
      left: 3px;
      color: #37e6ef; }
    body #abouthis .close::before {
      top: -3px;
      left: -3px;
      color: #e337fc; }
    body #abouthis #wavethis {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 350px;
      height: 350px;
      background-image: url("../img/wave-this.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: none; }
    body #abouthis article {
      font-size: 0.9rem;
      position: relative;
      text-align: left;
      width: 80%;
      margin: 10px auto 0 auto;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
     }
      body #abouthis article .izq {
        width: 100%;
        z-index: 100;
      }
        body #abouthis article .izq p {
          padding: 15px 0;
          font-size: 1.2rem;
          line-height: 1.2; }
        body #abouthis article .izq h4 {
          display: inline-block;
          font-size: 3rem;
          font-weight: 900;
          padding: 5px 0; }
          body #abouthis article .izq h4 .pleca {
            display: block;
            width: 100%;
            height: 3px; }
      body #abouthis article .der {
        width: 100%;
        z-index: 100;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center; }
        body #abouthis article .der div {
          width: 100%; }
          body #abouthis article .der div ul {
            margin-top: 15px;
            grid-template-columns: 50% 50%;
            -ms-grid-template-columns: 50% 50%;
            grid-row-gap: 15px; }
          body #abouthis article .der div h5 {
            font-size: 1.1rem;
            padding: 3px 0; }
          body #abouthis article .der div p {
            padding: 15px 0;
            line-height: 1.2; }
    body #abouthis .bts {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 180vh;
      background: rgba(0, 0, 0, 0.92);
      z-index: -20; }
  body #showreel {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    opacity: 0;
    display: none;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out; }
    body #showreel a {
      font-style: italic;
      position: absolute;
      left: calc(50% - 24px);
      top: 30px;
      width: 48px;
      display: block;
      line-height: 40px;
      height: 40px;
      text-align: center;
      z-index: 2; }
    body #showreel a::before, body #showreel a::after {
      position: absolute;
      content: "Close";
      font-style: italic;
      opacity: 0;
      z-index: 1;
      -webkit-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
      -moz-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
      -ms-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
      -o-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
      animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
      -webkit-transition: opacity 0.5s ease-out;
      -moz-transition: opacity 0.5s ease-out;
      -ms-transition: opacity 0.5s ease-out;
      -o-transition: opacity 0.5s ease-out;
      transition: opacity 0.5s ease-out; }
    body #showreel a:hover::before, body #showreel a:hover::after {
      opacity: 0.4; }
    body #showreel a::before {
      top: 2px;
      left: 5px;
      color: #37e6ef; }
    body #showreel a::after {
      top: -2px;
      left: -2px;
      color: #e337fc; }
    body #showreel #videoWrap {
      position: relative;
      width: 80%;
      max-width: 1280px;
      margin: 80px auto 0 auto; }
    body #showreel #videoWrap>iframe { width: 100%;}
    body #showreel span {
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.92); }
  body #loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-width: 300px;
    height: 100vh;
    background: #000;
    z-index: 9500;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out; }
    body #loading p {
      text-align: center; }
    body #loading #fluoDeg {
      width: 120px;
      height: 120px;
      margin: 30% auto 40px auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      body #loading #fluoDeg canvas {
        width: 100%;
        height: 100%; }
    body #loading span {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 7px;
      height: 0; }
  body #landscape {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    text-align: center;
    z-index: 9500;
    display: none; }
    body #landscape p {
      position: relative;
      display: block;
      text-align: center;
      margin: 100px auto 30px auto; }
  body #popPhone {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 8000;
    display: none;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out; }
    body #popPhone a {
      position: absolute;
      display: block;
      margin: 15px auto;
      text-align: center;
      width: 150px;
      line-height: 30px;
      z-index: 8100;
      top: calc(30% - 15px);
      left: calc(50% - 75px); }
    body #popPhone a::after, body #popPhone a::before {
      position: absolute;
      text-align: center;
      width: 150px;
      left: -2px;
      top: -2px;
      color: #e337fc;
      content: "Close";
      opacity: 0;
      -webkit-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
      -moz-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
      -ms-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
      -o-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
      animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
      -webkit-transition: opacity 0.5s ease-out;
      -moz-transition: opacity 0.5s ease-out;
      -ms-transition: opacity 0.5s ease-out;
      -o-transition: opacity 0.5s ease-out;
      transition: opacity 0.5s ease-out; }
    body #popPhone a:hover::after, body #popPhone a:hover::before {
      opacity: 0.4; }
    body #popPhone a::after {
      left: 2px;
      top: 2px;
      color: #37e6ef; }
    body #popPhone span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7); }
    body #popPhone div {
      position: absolute;
      left: calc(50% - 150px);
      top: calc(50% - 150px);
      width: 300px;
      height: 220px;
      background: #000;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      z-index: 8100; }
      body #popPhone div p {
        margin: 3px 0; }
  body .fullsection {
    position: relative;
    width: 100vw;
    z-index: 100;
    overflow: hidden; }
  body .projects {
    background: #000;
    margin-bottom: 420px; }
    body .projects article {
      width: 100vw;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center; }
      body .projects article a {
        position: relative;
        display: block;
        width: 100vw;
        height: 280px;
        background: #323334; }
        body .projects article a div {
          position: absolute;
          width: 100%;
          height: 100%;
          background: #323334;
          -webkit-transition: opacity 0.5s ease-out;
          -moz-transition: opacity 0.5s ease-out;
          -ms-transition: opacity 0.5s ease-out;
          -o-transition: opacity 0.5s ease-out;
          transition: opacity 0.5s ease-out; }
          body .projects article a div .info_wr {
            display: block;
            position: relative;
            top: 0;
            margin: 0 auto;
            width: 80%;
            width: 260px;
            height: 99%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            text-align: center;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center; }
            body .projects article a div .info_wr h4 {
              font-size: 1.5rem;
              color: #fff;
              margin-top: 20px;
              padding: 5px 0; }
            body .projects article a div .info_wr p {
              color: #fff;
              text-align: justify;
              padding: 40px 0; }
            body .projects article a div .info_wr span {
              display: block;
              width: 95%;
              margin: 0 auto; }
            body .projects article a div .info_wr .linea {
              width: 100%;
              height: 3px; }
            body .projects article a div .info_wr .navNext {
              display: -webkit-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              -webkit-flex-direction: row;
              -moz-flex-direction: row;
              -ms-flex-direction: row;
              -o-flex-direction: row;
              flex-direction: row;
              -webkit-align-items: center;
              -moz-align-items: center;
              -ms-align-items: center;
              -o-align-items: center;
              align-items: center;
              -webkit-justify-content: space-between;
              -moz-justify-content: space-between;
              -ms-justify-content: space-between;
              -o-justify-content: space-between;
              justify-content: space-between; }
            body .projects article a div .info_wr .navPrev {
              display: -webkit-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              -webkit-flex-direction: row-reverse;
              -moz-flex-direction: row-reverse;
              -ms-flex-direction: row-reverse;
              -o-flex-direction: row-reverse;
              flex-direction: row-reverse;
              -webkit-align-items: center;
              -moz-align-items: center;
              -ms-align-items: center;
              -o-align-items: center;
              align-items: center;
              -webkit-justify-content: space-between;
              -moz-justify-content: space-between;
              -ms-justify-content: space-between;
              -o-justify-content: space-between;
              justify-content: space-between;
              display: flex;
              height: 40px; }
              body .projects article a div .info_wr .navPrev p {
                display: inline-block;
                padding: 0; }
        body .projects article a div.imgProject {
          background-position: center !important;
          background-size: cover !important; }
        body .projects article a div.imgProject:hover {
          opacity: 0; }
  body footer {
    position: fixed !important;
    width: 100vw;
    min-width: 300px;
    height: 560px;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    body footer div#wavewrap {
      position: absolute;
      left: 0;
      bottom: -120px;
      width: 100vw;
      height: 200px;
      -webkit-transition: bottom 0.5s ease-out;
      -moz-transition: bottom 0.5s ease-out;
      -ms-transition: bottom 0.5s ease-out;
      -o-transition: bottom 0.5s ease-out;
      transition: bottom 0.5s ease-out; }
      body footer div#wavewrap .wave {
        position: absolute;
        background: url("../img/wave.svg") repeat-x;
        width: 6400px;
        height: 198px;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
        -moz-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
        -ms-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
        -o-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
        animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite; }
    body footer article {
      position: absolute;
      left: 5vw;
      bottom: 90px;
      width: 90vw;
      height: 330px; }
      body footer article div {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column; }
      body footer article ul:first-child {
        margin-top: 10px; }
      body footer article ul {
        padding: 10px 0;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center; }
        body footer article ul li {
          height: 30px;
          padding: 3px 0; }
          body footer article ul li a, body footer article ul li p {
            color: #fff; }

/* DESKTOP */
@media screen and (min-width: 800px) {
  /* nav */
  body nav {
    z-index: 9000; }

  body nav#back {
    display: block; }

  body nav#back ul li.showLi::before, ul li.showLi::after {
    content: "Servicios"; }

  body nav#top ul li a.aboutLi {
    width: 200px; }

  body nav#top ul li a.aboutLi::after, body nav#top ul li a.aboutLi::before {
    width: 200px; }

  body nav#top ul li a div {
    width: 80px;
    height: 80px; }
    body nav#top ul li a div canvas {
      width: 80px;
      height: 80px; }

  /* Showreel */
  body #abouthis {
    height: 100vh; }
    body #abouthis .close {
      color: red;
      display: none !important; }
    body #abouthis #wavethis {
      display: block; }
    body #abouthis article {
      width: 80%;
      /* Fix text height problem */
      height: 80%;
      background: #323334;
      padding: 5%;
      margin: 90px auto 0 auto;
      overflow: hidden;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      -o-flex-direction: row;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start; }
      body #abouthis article .der {
        width: 40%; }
      body #abouthis article .izq {
        width: 60%;
        margin-right: 15%; }
        body #abouthis article .izq h4 {
          font-size: 4rem;
          font-weight: 700 }
        body #abouthis article .izq p {
          font-size: 1.2rem;
          line-height: 1.2;
         }
    body #abouthis .bts {
      height: 100vh; }

  /* projects */
  body .projects article {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row; }
    body .projects article a {
      position: relative;
      height: 320px; }
      body .projects article a .info_wr {
        height: 50%; }
        body .projects article a .info_wr h4 {
          margin-top: 50px !important; }
    body .projects article a.izq .info_wr {
      float: left;
      text-align: left !important;
      margin-left: 50px; }
      body .projects article a.izq .info_wr p {
        text-align: left; }
    body .projects article a.der .info_wr {
      float: right;
      text-align: right !important;
      margin-right: 50px; }
      body .projects article a.der .info_wr p {
        text-align: right; }
  body footer article div {
    height: 80px;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between; }
    body footer article div ul:first-child {
      margin-top: 0; }
    body footer article div ul {
      padding: 0; }
  body footer article ul {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row; }
    body footer article ul li p, body footer article ul li a {
      opacity: 0.6;
      font-size: 0.9rem; }
    body footer article ul li p:hover, body footer article ul li a:hover {
      opacity: 1; }
    body footer article ul li:last-child a::after, body footer article ul li:last-child p::after {
      content: " "; }
    body footer article ul li a::after, body footer article ul li p::after {
      content: "|";
      padding: 0 5px; } }
/* MAX DESKTOP */
@media screen and (min-width: 1300px) {
  body {
    font-size: 20px; }

  body .projects article a {
    height: 360px; }
  a.izq .info_wr {
    margin-left: 70px !important; }

  a.der .info_wr {
    margin-right: 70px !important; }

  body footer article ul li p, body footer article ul li a {
    font-size: 1.1rem; } }
@-webkit-keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-0.15rem, 0.15rem);
    -moz-transform: translate(-0.15rem, 0.15rem);
    -ms-transform: translate(-0.15rem, 0.15rem);
    -o-transform: translate(-0.15rem, 0.15rem);
    transform: translate(-0.15rem, 0.15rem); }
  40% {
    -webkit-transform: translate(-0.15rem, -0.15rem);
    -moz-transform: translate(-0.15rem, -0.15rem);
    -ms-transform: translate(-0.15rem, -0.15rem);
    -o-transform: translate(-0.15rem, -0.15rem);
    transform: translate(-0.15rem, -0.15rem); }
  60% {
    -webkit-transform: translate(0.15rem, 0.15rem);
    -moz-transform: translate(0.15rem, 0.15rem);
    -ms-transform: translate(0.15rem, 0.15rem);
    -o-transform: translate(0.15rem, 0.15rem);
    transform: translate(0.15rem, 0.15rem); }
  80% {
    -webkit-transform: translate(0.15rem, -0.15rem);
    -moz-transform: translate(0.15rem, -0.15rem);
    -ms-transform: translate(0.15rem, -0.15rem);
    -o-transform: translate(0.15rem, -0.15rem);
    transform: translate(0.15rem, -0.15rem); }
  100% {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0); } }
@-moz-keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-0.15rem, 0.15rem);
    -moz-transform: translate(-0.15rem, 0.15rem);
    -ms-transform: translate(-0.15rem, 0.15rem);
    -o-transform: translate(-0.15rem, 0.15rem);
    transform: translate(-0.15rem, 0.15rem); }
  40% {
    -webkit-transform: translate(-0.15rem, -0.15rem);
    -moz-transform: translate(-0.15rem, -0.15rem);
    -ms-transform: translate(-0.15rem, -0.15rem);
    -o-transform: translate(-0.15rem, -0.15rem);
    transform: translate(-0.15rem, -0.15rem); }
  60% {
    -webkit-transform: translate(0.15rem, 0.15rem);
    -moz-transform: translate(0.15rem, 0.15rem);
    -ms-transform: translate(0.15rem, 0.15rem);
    -o-transform: translate(0.15rem, 0.15rem);
    transform: translate(0.15rem, 0.15rem); }
  80% {
    -webkit-transform: translate(0.15rem, -0.15rem);
    -moz-transform: translate(0.15rem, -0.15rem);
    -ms-transform: translate(0.15rem, -0.15rem);
    -o-transform: translate(0.15rem, -0.15rem);
    transform: translate(0.15rem, -0.15rem); }
  100% {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0); } }
@-ms-keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-0.15rem, 0.15rem);
    -moz-transform: translate(-0.15rem, 0.15rem);
    -ms-transform: translate(-0.15rem, 0.15rem);
    -o-transform: translate(-0.15rem, 0.15rem);
    transform: translate(-0.15rem, 0.15rem); }
  40% {
    -webkit-transform: translate(-0.15rem, -0.15rem);
    -moz-transform: translate(-0.15rem, -0.15rem);
    -ms-transform: translate(-0.15rem, -0.15rem);
    -o-transform: translate(-0.15rem, -0.15rem);
    transform: translate(-0.15rem, -0.15rem); }
  60% {
    -webkit-transform: translate(0.15rem, 0.15rem);
    -moz-transform: translate(0.15rem, 0.15rem);
    -ms-transform: translate(0.15rem, 0.15rem);
    -o-transform: translate(0.15rem, 0.15rem);
    transform: translate(0.15rem, 0.15rem); }
  80% {
    -webkit-transform: translate(0.15rem, -0.15rem);
    -moz-transform: translate(0.15rem, -0.15rem);
    -ms-transform: translate(0.15rem, -0.15rem);
    -o-transform: translate(0.15rem, -0.15rem);
    transform: translate(0.15rem, -0.15rem); }
  100% {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0); } }
@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-0.15rem, 0.15rem);
    -moz-transform: translate(-0.15rem, 0.15rem);
    -ms-transform: translate(-0.15rem, 0.15rem);
    -o-transform: translate(-0.15rem, 0.15rem);
    transform: translate(-0.15rem, 0.15rem); }
  40% {
    -webkit-transform: translate(-0.15rem, -0.15rem);
    -moz-transform: translate(-0.15rem, -0.15rem);
    -ms-transform: translate(-0.15rem, -0.15rem);
    -o-transform: translate(-0.15rem, -0.15rem);
    transform: translate(-0.15rem, -0.15rem); }
  60% {
    -webkit-transform: translate(0.15rem, 0.15rem);
    -moz-transform: translate(0.15rem, 0.15rem);
    -ms-transform: translate(0.15rem, 0.15rem);
    -o-transform: translate(0.15rem, 0.15rem);
    transform: translate(0.15rem, 0.15rem); }
  80% {
    -webkit-transform: translate(0.15rem, -0.15rem);
    -moz-transform: translate(0.15rem, -0.15rem);
    -ms-transform: translate(0.15rem, -0.15rem);
    -o-transform: translate(0.15rem, -0.15rem);
    transform: translate(0.15rem, -0.15rem); }
  100% {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0); } }
@-webkit-keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }
@-moz-keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }
@-ms-keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }
@keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }
.transition {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.hideDisplay {
  display: none; }

.showDisplay {
  display: block; }

.showDisplayFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.showGrid {
  display: -ms-grid;
  display: grid; }

.showOpacity {
  opacity: 1; }

.hideOpacity {
  opacity: 0; }

.scaleDownLine {
  height: 0;
  opacity: 0; }

.scaleUpLine {
  height: 100%;
  opacity: 1; }

.scaleDownLineW {
  width: 0;
  opacity: 0; }

.scaleUpLineW {
  width: 100%;
  opacity: 1; }

.backgroundImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.rotIcon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

  .rotIcon90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform-origin: 25% 25%;
    -ms-transform-origin: 25% 25%;
    -o-transform-origin: 25% 25%;
    transform-origin: 25% 25%;
   }

.gradientFluo {
  background: #e337fc;
  background: -moz-linear-gradient(left, #e337fc 2%, #5cabfc 50%, #37e6ef 100%);
  background: -webkit-linear-gradient(left, #e337fc 2%, #5cabfc 50%, #37e6ef 100%);
  background: linear-gradient(to right, #e337fc 2%, #5cabfc 50%, #37e6ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e337fc', endColorstr='#37e6ef',GradientType=1 ); }

.gradientFluoTop {
  background: #e337fc;
  background: -moz-linear-gradient(bottom, #e337fc 2%, #5cabfc 50%, #37e6ef 100%);
  background: -webkit-linear-gradient(bottom, #e337fc 2%, #5cabfc 50%, #37e6ef 100%);
  background: linear-gradient(to bottom, #e337fc 2%, #5cabfc 50%, #37e6ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e337fc', endColorstr='#37e6ef',GradientType=1 ); }
#backtoflag{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000000;
  width: 100vw;
  height: 2px;
  background: none}
/*# sourceMappingURL=master.css.map */
