/* about */
.about_layout{
  position: relative;
  background: #323334;
  padding: 5% 0 10% 0;
  margin: 0 auto;
}
.about_layout>.tit_wr{
  width: 90%;
  padding-top: 100px;
  line-height: 40px;
}
.about_layout>.tit_wr>h2{
  font-size: 1.4rem;
  text-align: left;
  display: inline-block;
  margin-left: 18%;
}
.about_layout>.tit_wr>h2>span{
  display: block;
  width: 100%;
  height: 3px;
}
.about_layout>.textintro_wr{
  position: relative;
  width: 100%;
  margin-top: 40px;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.about_layout>.textintro_wr>div{
  width: 100%;
  height: 100%;
  margin: 20px auto;
}
.about_layout>.textintro_wr>div>p{
  width: 70%;
  margin-left: 16%;
  line-height: 1.1;
}
.about_layout>.textintro_wr>div>div{
  width: 70%;
  margin: 20px auto;
  line-height: 1.4;
}
.about_layout>.textintro_wr>div>div.mob{ display: block }
.about_layout>.textintro_wr>div>div.des{ display: none }
.about_layout>.textintro_wr>div>div.mob>a{
  font-size: 0.9rem;
  color: #a2a2a2
}
.about_layout>.textintro_wr>div>div.des>p{
  font-size: 0.9rem;
  color: #a2a2a2
}
.close_des_btn{
  display: none;
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  opacity: 0;
  z-index: 5000;
}
.close_des_btn:hover{ opacity: 0.5 }
.close_des_btn>img{
  -webkit-transition: all 10.5s ease-out;
  -moz-transition: all 10.5s ease-out;
  -ms-transition: all 10.5s ease-out;
  -o-transition: all 10.5s ease-out;
  transition: all 10.5s ease-out;
}
.rotArrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#profiles_wr{
  position: relative;
  left: 0vw;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#profiles_wr > .fabiola{ left: -100% }
#profiles_wr > .tatiana{ right: -100% }
.profile_info{
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 400px;
  z-index: 8000;
  background: #323334;
}
.profile_info>div{
  display: block;
  width: 90%;
  height: 60px;
  margin: 60px auto;
}
.profile_info>div>a{
  display: block;
  line-height: 60px;
  font-style: italic;
  font-size: 1.2rem;
}
.profile_info>div>a:hover{ opacity: 0.5 }
.profile_info>h3{
  font-size: 2.3rem;
  width: 70%;
  margin: 100px auto 60px auto;
}
.profile_info>p{
  width: 70%;
  line-height: 1.2;
  margin: 0 auto;
}
.profile_info>a{
  display: block;
  width: 70%;
  margin: 60px auto;
  font-style: italic;
}
.profiles_layout{
  position: relative;
  width: 100%;
  height: 700px;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.profiles_layout>div{
  position: relative;
  width: 100%;
  height: 350px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.profiles_layout>div>img{
  position: absolute;
  width: 100%;
  margin: 0 auto;
}
.profiles_layout>div>div{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.profiles_layout>div>div:hover{
  background: rgba(0,0,0,0);
}
.profiles_layout>div>div>a.ig_des{
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-style: italic;
  font-size: 0.9rem;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  display: none;
}
.profiles_layout>div>div>a.bt_mob{
  display: block;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 20px);
}
.profiles_layout>div>div>a:hover{ opacity: 0.5 }
#pleca{
  display: block;
  position: relative;
  width: 100vw;
  height: 4px;
}
/* DESKTOP */
@media screen and (min-width: 650px){
  .profile_info{
    position: absolute;
    width: 50%;
    height: 100%;
    min-height: 400px;
    z-index:0;
  }
  #profiles_wr > .fabiola{ left: -50% }
  #profiles_wr > .tatiana{ right: -50% }
  .profile_info>div{
    display: none;
  }
  .profiles_layout{
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
  }
  .profiles_layout{
    min-height: 400px;
  }
  .profiles_layout>div{
    height: auto
  }
  .profiles_layout>div>div>a.ig_des{ display: block }
  .profiles_layout>div>div>a.bt_mob{ display: none }
}
/* linea centro */
#lineacentro{
  position: fixed;
  width: 100vw;
  height: 2px;
  background: red;
  top: calc(50% - 1px);
  z-index: 100000;
}

/* Proyectos */
#logoCoverWrap{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  justify-content: center;
  align-items: center;
}
#logoCoverWrap >div{
  width: 50%;
  min-width: 400px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#mainprojects{
  position: relative;
  margin-top: 100vh;
  -webkit-transition: background 1.5s ease-out;
  -moz-transition: background 1.5s ease-out;
  -ms-transition: background 1.5s ease-out;
  -o-transition: background 1.5s ease-out;
  transition: background 1.5s ease-out;
}
#mainprojects>article{
  position: relative;
  width:100vw;
  margin: 0 auto;
  /*border: 1px solid red;*/
  padding: 5% 0;
}
/* flags */
#mainprojects>article>.flag{
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  background: rgba(0,0,0,0);
}
/* Modulos */
  /* Layout 1.1 */
  .layout_1_1{ display: none }
  .layout_1_1 > a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center
  }
  .layout_1_1 > a >p{
    padding-bottom: 16px;
    opacity: 0.7
  }
  .layout_1_1 > a >p:hover{
    opacity: 0.9;
  }
  .layout_1_1 > a >div{
    width: 70%;
    margin: 0 auto
  }
  /* Layout 1.2 */
  .layout_1_2 > a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center
  }
  .layout_1_2 > a >p{
    padding-bottom: 16px;
    opacity: 0.7
  }
  .layout_1_2 > a >p:hover{
    opacity: 0.9;
  }
  .layout_1_2 > a >div{
    width: 100%;
    margin: 0 auto
  }
  /* Layout 2_1 */
  .layout_2_1 >.column_1{
    display: none;
    width: 50%;
    margin-right: 10%;
    border: 1px solid green;
  }
  .layout_2_1 >.column_1>img{ width: 100%; }
  .layout_2_1 >.column_2{
    position: relative;
    border: 1px solid green;
    width: 100%;
    margin: 0 auto;
    top: 0;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
  }
  .layout_2_1 >.column_2> iframe{
    width: 100% !important;
    position: absolute;
    top: -180px
  }
  .layout_2_1 >.column_2> div >h4{
     padding: 22px 0;
     text-align: center;
   }
  .layout_2_1 >.column_2> div >i{
    display: block;
    width: 60%;
    margin: 0 auto;
    font-size: 0.9rem;
    letter-spacing: 0.3px;
    line-height: 1.2;
    padding: 22px 0;
  }
  .layout_2_1 >.column_2> div >span.fix{
    display: block;
    width: 100%;
    height: 20px;
  }
  /* Layout 2_2 */
  .layout_2_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .layout_2_2 >.column_1{
    display: block;
    width: 100%;
    margin: 0;
    border: 1px solid green !important;
  }
  .layout_2_2 >.column_1>img{ width: 100%; border: 1px solid green}
  .layout_2_2 >.column_2{
    border: 1px solid green !important;
    width: 70%;
    margin: 0 auto;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
  }
  .layout_2_2 >.column_2> div >h4{
    padding: 22px 0;
    text-align: center;
  }
  .layout_2_2 >.column_2> div >i{
    display: block;
    width: 60%;
    margin: 0 auto;
    font-size: 0.9rem;
    letter-spacing: 0.3px;
    line-height: 1.2;
    padding: 22px 0;
  }
  .layout_2_2 >.column_2> div >span.fix{
    display: block;
    width: 100%;
    height: 20px;
  }
  /* Layout 3 */
  .layout_3{
    display: none;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
  }
  .layout_3 > .column_1{ width: 20% }
  .layout_3 > .column_2{ width: 80% }
  .layout_3 > div > img {
    width: 100%;
        border: 1px solid green;
  }
  /* Layout Slider Mobile */
  .layout_slider_mobile{
    display: block;
    position: relative;
    width: 100vw;
  }
  .layout_slider_mobile > .full_slider{
    width: 100%;
    padding: 40px 0 0 0;
    text-align: center;
  }
  .full_slider > img {
    width: 60%;
    margin: 0 auto;

  }
  /* Layout Slider Desktop */
  .layout_slider_desk{
    position: relative;
    display: block;
    width: 100%;
    overflow-x: hidden;
    display: none;
  }
  .layout_slider_desk > ul{
    position: relative;
    top: 0;
    left: -100%;
    width: 300%;
    height: 500px;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
  }
  .layout_slider_desk > ul> li{
    width: 33.33%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
  }
  .layout_slider_desk > ul> li> div{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .layout_slider_desk > ul> li> div{ cursor: pointer }
  .layout_slider_desk > ul> li> div:hover{ opacity: 0.8 }
  .layout_slider_desk > ul> li> .sideImg{ width: 25% }
  .layout_slider_desk > ul> li> .sideImgHide {
    width: 30%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .layout_slider_desk > ul> li> .mainImg{ width: 40% }
  /* Interfaz Slider */
  .layout_slider_desk > .interfaz_slider, .layout_slider_mobile > .interfaz_slider{
    width: 90%;
    text-align: center;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    margin:50px auto;
  }
  .layout_slider_desk > .interfaz_slider > a,
  .layout_slider_desk > div > p,
  .layout_slider_mobile > .interfaz_slider > a,
  .layout_slider_mobile > div > p
  { width: 25%; }

  .layout_slider_desk > .interfaz_slider > a > img,
  .layout_slider_mobile > .interfaz_slider > a > img
  { width: 100% }

  .layout_slider_desk > .interfaz_slider > a:hover,
  .layout_slider_mobile > .interfaz_slider > a:hover
  { opacity: 0.5; }
  /* Flag for bug arrow */
  .bugArrows{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
  }
  /* Pop Slider */
  #popSlider{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.92);
    z-index: 9000;
    opacity: 0;
    display: none;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
  }
  #popSlider> span{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*background: rgba(0,0,0,0.5);*/
    background: green;
  }
  #popSlider > p{
    position: relative;
    display: block;
    margin: 15px auto;
    text-align: center;
    padding: 10px 0;
    z-index: 8900
  }
  #popSlider > p > a{ position: relative }
  #popSlider > p > a::before, #popSlider > p > a::after{
    position: absolute;
    content: 'Close';
    opacity: 0;
    z-index: -10;
    -webkit-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
    -moz-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
    -ms-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
    -o-animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
    animation: glitch 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both infinite;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
  }
  #popSlider > p > a::before{
    color: #e337fc;
    top: 2px;
    left: 5px;
  }
  #popSlider > p > a::after{
    color: #37e6ef;
    top: -2px;
    left: -5px;
  }
  #popSlider > p > a:hover::before, #popSlider > p > a:hover::after{
    opacity: 0.4;
  }
  #popSlider > div{
    position: relative;
    text-align: center;
    height: calc(85% - 100px);
    margin: 0 auto;
  }
  #popSlider > div > p{
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 25% auto;
  }
  #popSlider > div > img{
    height: 100%;
    margin: 0 auto;
  }
/* Work */
.layout1_work > article{
  width: 100vw;
  box-sizing: border-box;
}
.layout1_work > article > a{
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 280px;
  box-sizing: border-box;
  overflow: hidden;
  background: #000
}
.lastworks > article >a.last{ overflow: hidden; background: #000 }
.layout1_work > article > a > div, .lastworks > article >a.last > div{
  position: absolute;
  box-sizing: border-box;
}
/* Covers */
.layout1_work > article > a > div.cover, .lastworks > article >a.last > div.cover{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* Info Covers */
.layout1_work > article > a > div.infocover, .lastworks > article >a.last > div.infocover{
  width: 100%;
  height: 30px;
  bottom: 0;
  background: #323334;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;

  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;

  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.layout1_work > article > a > div.infocover > p, .lastworks > article >a.last > div.infocover > p{
  font-size: 0.8rem;
  color: #fff;
}
.videostyle{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DESKTOP */
@media screen and (min-width: 800px) {
    #mainprojects>article{ width:80vw }
    /* ABOUT */
    .about_layout>.tit_wr{
      width: 50%;
      line-height: 60px;
      padding-top: 120px;
      text-align: center;
    }
    .about_layout>.tit_wr>h2{
      margin-left:0;
      font-size: 3rem;
    }
    .about_layout>.textintro_wr{
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      -o-flex-direction: row;
      flex-direction: row;
    }
    .about_layout>.textintro_wr>div{ width: 50% }
    .about_layout>.textintro_wr>div>p{
      font-size: 1.1rem;
      width: 350px;
      margin: 0 auto;
     }
     .about_layout>.textintro_wr>div>div{
       width: 350px;
       font-size: 1rem;
     }
     .about_layout>.textintro_wr>div>div.mob{ display: none }
     .about_layout>.textintro_wr>div>div.des{ display: block }
    /* LAYOUTS */
    .layout_1_1{ display: block }
    .layout_1_2 > a > div { width: 70% }
    .layout_2_1 >.column_1{ display: block; }
    .layout_2_1 >.column_2{
      width: 25%;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
    }
    .layout_2_1 >.column_2> div >h4{ text-align: left }
    .layout_2_1 >.column_2> div >i{ width: 100% }
    .layout_2_2 {
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      -o-flex-direction: row;
      flex-direction: row;
    }
    .layout_2_2 >.column_1{
      width: 50%;
      margin-right: 10%;
    }
    .layout_2_2 >.column_2{
      width: 25%;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
    }
    .layout_2_2 >.column_2> div >h4{ text-align: left }
    .layout_2_2 >.column_2> div >i{ width: 100% }
    .layout_3{
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }
    /* LAYOUT SLIDER */
    .layout_slider_desk{ display: block }
    .layout_slider_mobile{ display: none }
    .layout_slider_desk > .interfaz_slider, .layout_slider_mobile > .interfaz_slider{ width: 100%; }
  /* WORK */
  .layout1_work > article > a{
    width: 50%;
    height: 360px;
    background: #000
  }
  .layout1_work > article > a > div.infocover, .lastworks > article >a.last > div.infocover{
    bottom: -40px;
    opacity: 0;
  }
  .layout1_work > article > a:hover > div.infocover, .lastworks > article >a.last:hover > div.infocover{
    bottom: 0;
    opacity: 1;
  }
}
/* index */
#layout1_index{
  width: 100vw;
  height: 100vh;
  background: #000;
}
#layout1_index> article{
  width: 100vw;
  height: calc(100% - 180px);
  margin-top: 90px;
  /*border: 1px solid green;*/
}
#spacebutton{
  position: absolute;
  bottom: 90px;
  left: calc(50% - 150px);
  width: 200px;
  height: 40px;
  border: 1px solid #fff;
  z-index: 5000;
  background: #000;
}
#spacebutton > p{
  position: absolute;
  width: 100%;
  line-height: 40px;
  text-align: center;
}
#spacebutton > span{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition: width 0.2s ease-out;
}
/* P5 */
.p5_cv{
  position: relative;
  top: 0;
  z-index: 200;
  /*border: 1px solid red;*/
}
