.layout1_wr{
  background: cadetblue
}
#logoCoverWrap{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  justify-content: center;
  align-items: center;
}
#logoCoverWrap >div{
  width: 50%;
  min-width: 400px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#mainprojects{
  position: relative;
  margin-top: 100vh;
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  -ms-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}
#mainprojects>article{
  position: relative;
  width:100vw;
  margin: 0 auto;
  border: 1px solid red;
}
/* flag */
#mainprojects>article>.flag{
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  background: purple;
}




/* linea centro */
#lineacentro{
  position: fixed;
  width: 100vw;
  height: 2px;
  background: red;
  top: calc(50% - 1px);
  z-index: 100000;
}
/* DESKTOP */
@media screen and (min-width: 800px) {
  #mainprojects>article{
    width:80vw;
  }
}
